=begin
releases.proto

OpenAPI spec version: version not set

Generated by: https://github.com/swagger-api/swagger-codegen.git

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.

=end

require "uri"

module ReleasesClient
  class ReleasesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end

    # 
    # 
    # @param body 
    # @param [Hash] opts the optional parameters
    # @return [ReleaserAddReleaseResponse]
    def add_release(body, opts = {})
      data, _status_code, _headers = add_release_with_http_info(body, opts)
      return data
    end

    # 
    # 
    # @param body 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ReleaserAddReleaseResponse, Fixnum, Hash)>] ReleaserAddReleaseResponse data, response status code and response headers
    def add_release_with_http_info(body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: ReleasesApi.add_release ..."
      end
      # verify the required parameter 'body' is set
      fail ArgumentError, "Missing the required parameter 'body' when calling ReleasesApi.add_release" if body.nil?
      # resource path
      local_var_path = "/v1/release".sub('{format}','json')

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(body)
      auth_names = []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ReleaserAddReleaseResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReleasesApi#add_release\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 
    # 
    # @param channel_id 
    # @param [Hash] opts the optional parameters
    # @return [ReleaserChannelReleases]
    def get_channel_releases(channel_id, opts = {})
      data, _status_code, _headers = get_channel_releases_with_http_info(channel_id, opts)
      return data
    end

    # 
    # 
    # @param channel_id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ReleaserChannelReleases, Fixnum, Hash)>] ReleaserChannelReleases data, response status code and response headers
    def get_channel_releases_with_http_info(channel_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: ReleasesApi.get_channel_releases ..."
      end
      # verify the required parameter 'channel_id' is set
      fail ArgumentError, "Missing the required parameter 'channel_id' when calling ReleasesApi.get_channel_releases" if channel_id.nil?
      # resource path
      local_var_path = "/v1/channel_releases/{ChannelID}".sub('{format}','json').sub('{' + 'ChannelID' + '}', channel_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
            auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ReleaserChannelReleases')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReleasesApi#get_channel_releases\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 
    # 
    # @param release_id 
    # @param [Hash] opts the optional parameters
    # @return [ReleaserRelease]
    def get_release(release_id, opts = {})
      data, _status_code, _headers = get_release_with_http_info(release_id, opts)
      return data
    end

    # 
    # 
    # @param release_id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ReleaserRelease, Fixnum, Hash)>] ReleaserRelease data, response status code and response headers
    def get_release_with_http_info(release_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: ReleasesApi.get_release ..."
      end
      # verify the required parameter 'release_id' is set
      fail ArgumentError, "Missing the required parameter 'release_id' when calling ReleasesApi.get_release" if release_id.nil?
      # resource path
      local_var_path = "/v1/release/{ReleaseID}".sub('{format}','json').sub('{' + 'ReleaseID' + '}', release_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = ['application/json']
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
            auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ReleaserRelease')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReleasesApi#get_release\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
